#banners-img{
    background-color: slategray;
    .banners{
        background-color: slategrey;
        .banner1{
            background-image: url(../../img/banner1.jpg);
         background-repeat: no-repeat;
        }
        .banner2{
            background-image: url(../../img/banner2.jpg);
            background-repeat:no-repeat;
        }
        .banner3{
            background-image: url(../../img/banner3.jpg);
         background-repeat: no-repeat;
        }
        .banner4{
            background-image: url(../../img/banner4.jpg);
            height: 150px;
            width: 250px;
        }
        .sample-banner{
            top: 100px;
            color:aliceblue;
            left: 50px;
        }
        .banner-logo{
            color: aliceblue;
            font-size: 35px;
            top: 45px;
            left: 90px
        }
    }
}